ul{
    list-style-type:none;
 }
 
 .he-1 li h2,p,.he-2 li h2,p{
   display:inline;
 }
 .he-3 li,.he-4 li,.he-5 li{
   display:inline;
 }
 li{
   margin-right:20px;
 }
 h3{
   magrin-right:5px;
 }
 .kuai-1{
   float:top;
   background-color:lightblue;
   width:1280px;
   height:70px;
    
 }
 
 .kuai-2{
 clear:both;
 }
 he-1 h2{
   float:left;
  
   
 }
 
 h2{
   float:left;
   border: 1px solid;
   margin:1px 10px 10px 10px;
   padding:50px 5px 1px 1px;
   height:200px;
   background-color:lightblue;
 }
 ul{
   margin-left:130px;
   border:1px solid ;
   height:250px
    
 }
 .he-2{
   clear:both;
 }
 
 
